Heroes Of Pymoli Challange

Part 1: I need to import dependencies

In [11]:
#Import dependencies 
import pandas as pd
import numpy as np

Part 2: I need to Reference the file and import the data to pandas.

In [12]:
# Reference the file where the CSV is located
HeroesOfPymoli_csv_path = "Resources/purchase_data.csv"
# Import the data into a Pandas DataFrame
df = pd.read_csv(HeroesOfPymoli_csv_path)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Part 3: Initialy check if there are duplicated values in the set. I saw that there are duplicated values so I needed to count the unique total amount of players in the data set. I used the nunique function and saved it in the varibale uni_values_df

In [13]:
#As I have been manipulating the df I need to load my inital df again
df = pd.read_csv(HeroesOfPymoli_csv_path)
df
#Initial check for fuplicated values
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [14]:
#Since there are duplicated values I created a new variable and stored only unique values
uni_values_df = df.drop_duplicates(subset='SN')
uni_values_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [15]:
#I reviwed the new amounts to check the values were dropped. Initial value = 780 after dropping duplicates = 576
uni_values_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

Part 4: After getting the unique values I displayed the total amount of players in a dataframe called Total_Players_df

In [16]:
#On supervision on March 8 2021, with Tren Littel (my tutor) we reviwed the the statement .DataFrame and the used for it.
Total_Players_df = pd.DataFrame([{"Total Players": df["SN"].nunique()}])
Total_Players_df

   Total Players
0            576

Part 5: Purchasing Analysis (Total)

The following challanges needed to be accomplished:
    1. Run basic calculations to obtain number of unique items, average price, etc.
    2. Create a summary data frame to hold the results
    3. Optional: give the displayed data cleaner formatting
    4. Display the summary data frame

In [30]:
# I created varibales to hold the values to later create the summary table with them. I needed to go back and look at the decimal places that were used in the solution. To be able to match the solution format I decided to use the method round()
ItemCount = df["Item Name"].nunique()
AveragePrice = round(df["Price"].mean(),2)
PurchasedNumber = df["Purchase ID"].count()
Revenue = round(df["Price"].sum(),2)

#After I created the variables I need to store them in a summary table like so:
SummaryTable = pd.DataFrame([{"Number of Unique Items": ItemCount, "Average Price": AveragePrice, "Number of Purchases": PurchasedNumber, "Total Revenue": Revenue}])
SummaryTable.loc[0, "Total Revenue"] = SummaryTable["Total Revenue"].map(lambda x: '$' + str(x))
SummaryTable

ValueError: Incompatible indexer with Series

In [20]:
# I need to change the value from 2379.77 to $2,397.77 
#First I will look at the type of total revenue
type(SummaryTable['Total Revenue'])
# Found its  a series.

pandas.core.series.Series